{
  "extends": ["nextjs", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "typescript": { "alwaysTryTypes": true }
    }
  }
}
